{% extends 'base.html.twig' %}

{% block title %}Hello Adminusers!{% endblock %}

{% block body %}
<h1 style="text-align:center">Utilisateurs</h1>
    <div class="row row-cols-1 row-cols-md-2">
        {% for user in users %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">mail : {{user.email}}</h5>
                    <p class="card-text">login : {{user.login}}</p>
                    <h6 class="card-title">role : {{user.roles[0]}}</h6>
                </div>
            </div>
        </div>
{% endfor %}
</div>
{% endblock %}