<nav class="navbar fixed-bottom navbar-light bg-light">
  <a class="navbar-brand" href="https://www.twitter.com/">Twitter</a>
  <a class="navbar-brand" href="https://www.facebook.com">Facebook</a>
  <a class="navbar-brand" href="https://www.instagram.com">Instagram</a>
</nav>